<h2><%= t "devise.invitations.new.header" %></h2>

<%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :role %><br />
    <%= f.select :role, %w[admin retailer manager] %>
  </div>

  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.select :company_id, Company.all.pluck(:company_name, :id), include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :outlet_id %><br />
    <%= f.select :outlet_id,
      Outlet.all.map {|ou| [ou.company.company_name + ', ' + display_title_address(ou.address), ou.id]},
      include_blank: true
    %>
  </div>

  <div class="actions">
    <%= f.submit t("devise.invitations.new.submit_button") %>
  </div>
<% end %>
